@import "../_vars.scss";
h2 {
  color: $blue-text;
}
.customClass {
  color: $custom-text-color;
  font-size: $custom-font-size;
}
.textRed {
  color: $red-text;
}
.smallerFont {
  font-size: $small-text-size;
}
.userListContainer {
  background-color: white;
  padding: 10px;
  color: gray;
}
