<h2>Component Interaction</h2>
<app-user-count [allCount]="getAllUsersCount()" [maleCount]="getAllMaleUsersCount()"
  [femaleCount]="getAllFemaleUsersCount()" (selectedRadioButtonValueChanged)="onUserCountRadioButtonChange($event)">
</app-user-count>
<br />
<br />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>UserName</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of users">
      <tr *ngIf="selectedUserCountRadioButton==='all' || selectedUserCountRadioButton===user.gender ">
        <td>{{user.id}}</td>
        <td>{{user.name }}</td>
        <td>{{user.username }}</td>
        <td>{{user.gender}}</td>
        <td>{{user.email }}</td>
        <td>{{user.phone}}</td>
      </tr>
    </ng-container>

    <tr *ngIf="!users || users.length==0">
      <td colspan="5">
        No users to display
      </td>
    </tr>
  </tbody>
</table>
